.main {
    margin-top: -130px;

    > div {
        display: flex;
        align-items: center;
        flex-direction: column;

        > img {
            position: relative;
            top: 30px;
        }

        h1, p {
            text-align: center;
        }

        h1 {
            margin-top: 20px;
        }

        p {
            margin: 10px 0 40px;
        }
    }
}

.section1 {
    display: flex;
    flex-direction: row;
    align-items: center;

    strong {
        font-size: 30px;
    }

    div {
        display: flex;
        flex-direction: column;

        &:nth-child(2) {
            margin: 0 50px;
            padding: 0 50px;
            border-left: 1px solid gray;
            border-right: 1px solid gray;
        }
    }

    @media screen and (max-width: 800px) {
        flex-direction: column;

        div {
            &:nth-child(2) {
                margin: 30px 0;
                padding: 30px 0;
                border-left: none;
                border-right: none;
                border-top: 1px solid gray;
                border-bottom: 1px solid gray;
            }
        }
    }
}

.input {
    margin-top: 50px;
    width: 100%;
}

.disabled {
    opacity: .5;
}

.section2 {
    line-height: 1.8rem;
    text-align: justify;

    h2 {
        margin-bottom: 20px;
    }
}

.p {
    color: hsl(176, 50%, 47%);
}

.p2 {
    margin: 20px 0 5px;
}

.left {
    font-weight: bold;
    font-size: 30px;
    display: flex;
    align-items: center;

    span {
        margin-left: 5px;
        font-size: 16px;
        font-weight: lighter;
    }

    @media screen and (max-width: 800px) {
        margin-bottom: 20px;
    }
}

.align {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    background: hsl(0, 0%, 79%);
    border-radius: 25px;

    img {
        width: 46px;
        height: 46px;
    }

    span {
        margin: 0 40px 0 20px;
    }

    @media screen and (max-width: 800px) {
        span {
            display: none;
        }
    }
}