* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input, button {
    border: none;
}

li {
    list-style: none;
}

body, #root {
    max-width: 100vw;
    max-height: 100vh;

    width: 100%;
    height: 100%;

    font-family: 'Commissioner', sans-serif;

    background: rgb(233, 233, 233);
}